.icon {
    color: #bcd2da;
}

.card {
    display: flex;
    flex-direction: column;
    border: 1px solid #cad0d2;
    border-radius: 4px;
    overflow: hidden;
}

.card__description {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 15px 0;
}

.card__descriptionIcon {
    font-size: 32px;
    margin-bottom: 10px;
}

.card__descriptionText {
    color: #57727c;
    font-size: 12px;
    text-align: center;
    max-width: calc(100% - 30px);
}

.card__price {
    text-align: center;
    color: #57727c;
    font-size: 12px;
    font-weight: 700;
    padding: 5px 15px;
    border-top: 1px solid #d7dbdd;
    background-color: #eef3f5;
}
